.userpagetable {
  width: 80%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.userpagetable tr {
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.466);
  border-radius: 20px;
  height: 200px;
  width: 100%;
}
.userpagetable tr td {
  width: 40%;
  border: 1px solid white;
  border-radius: 20px;
}
#currentinfo {
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  margin-bottom: 0px;
  width: 80%;
}
#currentinfo p {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  display: inline-block;
}
.userpagetable tr td form {
  margin-top: 0px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 90%;
}
