<web-app>

  <servlet>
    <servlet-name>com.morris.LoginServlet</servlet-name>
    <servlet-class>com.morris.LoginServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>com.morris.LoginServlet</servlet-name>
    <url-pattern>/com.morris.LoginServlet</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>com.morris.CreateServlet</servlet-name>
    <servlet-class>com.morris.CreateServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>com.morris.CreateServlet</servlet-name>
    <url-pattern>/com.morris.CreateServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>com.morris.userpage</servlet-name>
    <servlet-class>com.morris.userpage</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>com.morris.userpage</servlet-name>
    <url-pattern>/com.morris.userpage</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>com.morris.managerpage</servlet-name>
    <servlet-class>com.morris.managerpage</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>com.morris.managerpage</servlet-name>
    <url-pattern>/com.morris.managerpage</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>com.morris.getspecificuser</servlet-name>
    <servlet-class>com.morris.getspecificuser</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>com.morris.getspecificuser</servlet-name>
    <url-pattern>/com.morris.getspecificuser</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>com.morris.updaterequest</servlet-name>
    <servlet-class>com.morris.updaterequest</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>com.morris.updaterequest</servlet-name>
    <url-pattern>/com.morris.updaterequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.morris.logout</servlet-name>
    <servlet-class>com.morris.logout</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>com.morris.logout</servlet-name>
    <url-pattern>/com.morris.logout</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>com.morris.updateuser</servlet-name>
    <servlet-class>com.morris.updateuser</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>com.morris.addrequest</servlet-name>
    <url-pattern>/com.morris.addrequest</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>com.morris.addrequest</servlet-name>
    <servlet-class>com.morris.addrequest</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>com.morris.updateuser</servlet-name>
    <url-pattern>/com.morris.updateuser</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>com.morris.login</servlet-name>
    <url-pattern>/com.morris.login</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>com.morris.login</servlet-name>
    <servlet-class>com.morris.login</servlet-class>
  </servlet>
</web-app>